@viewport {
  width: device-width;
  zoom: 1;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 8%;
}

body {
  font-family: segoe ui;
  src: url("./Segoe UI.ttf");
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  background-color: rgb(235, 235, 235);
}

#root {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 520px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 40%;
  }

  .trails-main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .trails-text {
    position: relative;
    width: 100%;
    height: 100px;
    line-height: 70px;
    color: rgb(240, 143, 143);
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
    will-change: transform, opacity;
    overflow: hidden;
  }
}

.trails-main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trails-text {
  position: relative;
  width: 100%;
  height: 100px;
  line-height: 70px;
  color: rgb(240, 143, 143);
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity;
  overflow: hidden;
}

.trails-text > div {
  overflow: hidden;
}
