@viewport {
  width: device-width;
  zoom: 1;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 7%;
}

body {
  font-family: segoe ui;
  src: url("Segoe UI.ttf") format("truetype");
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  background-color: rgb(250, 250, 250);
}

#root {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 560px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 30%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    background-color: rgb(255, 255, 255);
  }

  .trails-main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  .trails-text {
    position: relative;
    width: 100%;
    height: 100px;
    line-height: 70px;
    color: rgb(240, 143, 143);
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    will-change: transform, opacity;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
}

.trails-main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.trails-text {
  position: relative;
  width: 100%;
  height: 100px;
  line-height: 70px;
  color: rgb(240, 143, 143);
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity;
  overflow: hidden;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.trails-text > div {
  overflow: hidden;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.links {
  position: relative;
  width: 100%;
  height: 100px;
  line-height: 70px;
  font-size: 2em;
  font-weight: 300;
  will-change: transform, opacity;
  color: black;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links a {
  color:black;
  text-decoration: none;
  padding-inline-start: 8mm;
}

.links a:hover{
  text-decoration: underline;
}
